{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@root": ".",
          "@components": "./src/components",
          "@assets": "./src/assets",
          "@tabs": "./src/navigation/tabs",
          "@screens": "./src/screens"
        }
      }]
    ]
  }